# Sensible Defaults
lombok.accessors.chain = true
lombok.equalsAndHashCode.callSuper=call
lombok.anyConstructor.addConstructorProperties = true

# We use slf4j.
lombok.log.apacheCommons.flagUsage = error
lombok.log.log4j.flagUsage = error
lombok.log.log4j2.flagUsage = error
lombok.log.xslf4j.flagUsage = error

# Do not use following silly annotations.
lombok.sneakyThrows.flagUsage = warning

# Code Coverage
lombok.addLombokGeneratedAnnotation = true
lombok.extern.findbugs.addSuppressFBWarnings = false